In [2]:
import pandas as pd

In [3]:
data = {
    "Age": [29, 54, 37, 45, 63, 50, 48, None, 58, 42],
    "Cholesterol": [200, 230, 180, None, 240, 210, 190, 220, None, 205],
    "Max_Heart_Rate": [150, 120, 165, 140, 110, None, 155, 130, 125, 145],
    "Exercise_Induced_Angina": [True, False, False, True, True, False, True, False, True, None],
    "Heart_Disease": [1, 1, 0, 0, 1, 0, 1, 0, 1, 0],  # 1: Has disease, 0: No disease
}

# Step 3: Create a DataFrame
heart_data = pd.DataFrame(data)
heart_data

    Age  Cholesterol  Max_Heart_Rate Exercise_Induced_Angina  Heart_Disease
0  29.0        200.0           150.0                    True              1
1  54.0        230.0           120.0                   False              1
2  37.0        180.0           165.0                   False              0
3  45.0          NaN           140.0                    True              0
4  63.0        240.0           110.0                    True              1
5  50.0        210.0             NaN                   False              0
6  48.0        190.0           155.0                    True              1
7   NaN        220.0           130.0                   False              0
8  58.0          NaN           125.0                    True              1
9  42.0        205.0           145.0                    None              0

In [4]:
data = {
    "Temperature": [30, 25, 27, 35, 40, 20, 18, 22, 32, 29],
    "Humidity": [70, 65, 60, 50, 45, 80, 85, 75, 55, 68],
    "WindSpeed": [10, 5, 12, 15, 20, 8, 6, 7, 14, 11],
    "Weather": ["Sunny", "Cloudy", "Sunny", "Sunny", "Rainy", "Rainy", "Rainy", "Cloudy", "Sunny", "Cloudy"]
}

# Step 3: Convert dataset into a DataFrame
weather_df = pd.DataFrame(data)
weather_df

   Temperature  Humidity  WindSpeed Weather
0           30        70         10   Sunny
1           25        65          5  Cloudy
2           27        60         12   Sunny
3           35        50         15   Sunny
4           40        45         20   Rainy
5           20        80          8   Rainy
6           18        85          6   Rainy
7           22        75          7  Cloudy
8           32        55         14   Sunny
9           29        68         11  Cloudy

In [ ]:
plt.title("ROC Curve")

# plt.plot(fpr_bernoulli, tpr_bernoulli, 'b', label = 'AUC of Bernoulli = %0.2f' % roc_auc_bernoulli)
# plt.plot(fpr_gaussian, tpr_gaussian, 'g', label = 'AUC of Gaussian = %0.2f' % roc_auc_gaussian)
# plt.plot(fpr_multinomial, tpr_multinomial, 'r', label = 'AUC of Multinomial = %0.2f' % roc_auc_multinomial)
plt.plot(fpr_bernoulli, tpr_bernoulli, 'b', label=f"AUC of Bernoulli = {roc_auc_bernoulli:.2f}")
plt.plot(fpr_gaussian, tpr_gaussian, 'g', label=f"AUC of Gaussian = {roc_auc_gaussian:.2f}")
plt.plot(fpr_multinomial, tpr_multinomial, 'r', label=f"AUC of Multinomial = {roc_auc_multinomial:.2f}")

plt.legend(loc='lower right')
plt.plot([0, 1], [0, 1], 'r--')
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()