In [2]:
import pandas as pd

In [3]:
data = {
    "Age": [29, 54, 37, 45, 63, 50, 48, None, 58, 42],
    "Cholesterol": [200, 230, 180, None, 240, 210, 190, 220, None, 205],
    "Max_Heart_Rate": [150, 120, 165, 140, 110, None, 155, 130, 125, 145],
    "Exercise_Induced_Angina": [True, False, False, True, True, False, True, False, True, None],
    "Heart_Disease": [1, 1, 0, 0, 1, 0, 1, 0, 1, 0],  # 1: Has disease, 0: No disease
}

# Step 3: Create a DataFrame
heart_data = pd.DataFrame(data)
heart_data

    Age  Cholesterol  Max_Heart_Rate Exercise_Induced_Angina  Heart_Disease
0  29.0        200.0           150.0                    True              1
1  54.0        230.0           120.0                   False              1
2  37.0        180.0           165.0                   False              0
3  45.0          NaN           140.0                    True              0
4  63.0        240.0           110.0                    True              1
5  50.0        210.0             NaN                   False              0
6  48.0        190.0           155.0                    True              1
7   NaN        220.0           130.0                   False              0
8  58.0          NaN           125.0                    True              1
9  42.0        205.0           145.0                    None              0